body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


#date {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  font-size: 30px;
  color: white;
}

/* trying for date display to look pretty  */
.myfunction {
 padding: 1px;
 font: bold;
}

textarea{
  background: transparent;
  border: 1px;
  resize: none;
  color: #000000;
  font-family: sans-serif;
  border-left: 1px solid black;
  padding: 10px;
  display:flex;
  /* added width to give longer space for text space */
  width: 90%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(14, 13, 13);;
  padding: 10px;
  margin: auto;
  display: flex;
  text-align: center;
  /* width: 100%; */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: flex;
}

.saveBtn i:hover {
  font-size: 20px;
  color: yellowgreen;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}


  /* @media screen and (max-width: 768px) {
    .row {
      width: 100%;
    }
  }  */

   @media screen and (max-width: 768px) {
    .saveBtn {
      width: 100%;
      float: right;
      /* display: flex; */
      
    } 
  } 

